/* src/Login.css */

.login-container {
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .login-card {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login-icon {
    color: #007bff;
    margin-bottom: 1rem;
  }
  

  .input-icon {
    position: relative;
  }
    
  .input-icon select {
    padding-left: 40px;
  }
  
  .input-icon i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #007bff;
  }
  
  .input-icon input {
    padding-left: 40px;
  }
  
  /* Aplicar estos estilos solo a los campos de texto */
  input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
    padding-left: 40px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  